SA_PASSWORD=YourStrongPasswordHere!
APP_DB_USER=app_reader
APP_DB_PASSWORD=ChooseAnotherStrongPasswordHere!
SQL_DATABASE=IndustrialAssets
MQTT_APP_USERNAME=unity_client
MQTT_APP_PASSWORD=ChooseMqttPasswordHere!
MQTT_ACL_DB_USER=app_reader
MQTT_APP_TOPIC_PREFIX=mx
MQTT_HOST_PORT=1884
MQTT_WS_HOST_PORT=9001
